@import '../../Styles/main';

.purple-background {
  display: flex;
  justify-content: center;
  padding: 140px 0;
  background: #ffffff url("img/Layer4.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__container {
    width: 40%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__svg-container {
    position: relative;
    display: inline-block;
  }

  &__hexagon {
    width: 160px;
  }

  &__hexagon-inner {
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
  }

  &__paragraph {
    padding-top: 40px;
    font-size: 38px;
    color: #ffffff;
    text-align: center;
  }
}