.purple-background {
  padding: 60px 0;
  background: #ffffff url("img/Layer4.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__container {
    display: flex;
  }

  &__svg-container {
    position: relative;
    display: inline-block;
  }

  &__hexagon {
    width: 160px;
  }

  &__hexagon-inner {
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
  }
}