.home {
  height: 100vh;
  background-image: url(./img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-family: 'existence', 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;

    &--main {
      font-size: 3rem;
    }

    &--sub {
      font-size: 2rem;
    }
  }

  &__icon {
    display: flex;
    width: 10rem;
    height: 10rem;
    border:3px solid #fff;
    border-radius: 50%;

    &-text {
      color: #fff;
      margin: auto;
      text-align: center;
      padding: 5rem 0;
      font-family: 'existence' , 'Lato', Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: 1.4rem;
    }
  }
}