.home {
  height: 100vh;
  padding: 5rem 0;
  background-image: url(./img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    margin: auto;
    max-width: 113rem;
  }

  &__logo {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__title {
    font-family: 'existence', 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;

    &--main {
      font-size: 4.8rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    &--sub {
      font-size: 3rem;
      text-align: center;
    }
  }

  &__icon-box {
    display: flex;

    &:nth-child(1) {
      justify-content: center;
    }
    &:last-child {
      justify-content: space-between;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 16rem;
    height: 16rem;
    border:5px solid #fff;
    border-radius: 50%;

    &-text {
      color: #fff;
      position: absolute;
      display: inline-block;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'existence' , 'Lato', Arial, Helvetica, sans-serif;
      font-weight: 900;
      font-size: 1.7rem;
    }
  }
}

.icon__item {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}