@font-face {
  font-family: existence;
  src: url('Existence-Light.otf');
}

@font-face {
  font-family: Lato;
  src: url("Lato.ttf");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("HelveticaNeueBold.ttf")
}