// colors
$primary-color: #676767;
$secondary-color: #9f449b;

//Our Team
$team-name-color: #484848;
$team-position-color: #777777;
$team-social-color: #222222;
$team-border-color: #878787;
$team-social-hover: #222222;
$team-border-hover: #878787;
