@import '../../Styles/var';

.title {
  position: relative;
  margin: 0;
  padding: 4rem 5rem;
  display: inline-block;
  font: $title-font;
  font-weight: lighter;
  color: $primary-color;

  &--purple {
    color: $secondary-color;
  }

  &::before, &::after {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    content: '';
    border: solid $secondary-color;
  }

  &::before {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
  }

  &::after {
    top: 0;
    right: 0;
    border-left: 0.1rem;
    border-bottom: 0.1rem;
  }
}