@import '../../Styles/var';

.blogPage {
  background: #eeeeee;
  text-align: center;
  font-family: Lato;
  padding: 150px 0;

  &__percentage {
    margin-bottom: 150px;
  }

  &__percentage-text {
    font-size: 16px;
    color: $primary-color;

    &::first-letter {      
      text-transform: uppercase;
    }
  }

  &__percentage-item {
    display: inline-block;
    margin-right: 150px;
    font-size: 64px;

    &:last-child{
      margin: 0;
    };
  }

  &__posts-name {
    text-transform: uppercase;
    font-size: 20px;
    color: $primary-color;
    margin-top: 47px;
    margin-bottom: 60px;
  }

  &__posts-image {
    margin-bottom: 47px;
    border-radius: 100px;
    width: 170px;
    height: 170px;
  }
}