@import '../../Styles/main.scss';

.portfolio-page {
    
  padding: 15px 5px;
    
  &__wrapper {
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__tabs {
    margin: 70px auto 0;
    width: 412px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  &__tabs-item {
    border: 1px solid $secondary-color;
    border-radius: 4px;
    padding: 5px 10px;
    color: $primary-color;
    text-transform: uppercase;
    transition: all 1s;

    &:hover,
    &--active {
      color: white;
      background-color: $secondary-color;
      cursor: pointer;
    }
  }

  &__images {
    margin: 50px auto 0;
    display: grid;
    width: 1130px;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

    @media screen and (max-width: 754px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 755px) and (max-width: 1140px) {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  &__button {
    display: block;
    margin: 40px auto 0;
    padding: 15px 35px;
    color: white;
    border: 0;
    border-bottom: 2px solid #6b2e68;
    background-color: $secondary-color;
    border-radius: 4px;
    transition: all 1s;

    &:hover {
      background-color: #6b2e68;
      cursor: pointer;
    };
  }
}