@import '../../Styles/var';
.wrapper {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font: $primary-font;
  text-align: center;
}

.contact {
  .logo {
    justify-content: center;
    display: flex;
    float: none;
    margin: 25px 0;
  }

  &-block {
    display: flex;  
    justify-content: center;
    margin-top: 100px;
  }

  
  &-form {
    text-align: left;
    margin-right: 75px;
    width: 50%;
    
    &__name, 
    &__email,
    &__message {
      margin-bottom: 20px;
    }

    &__error {
      color: red;
      margin-top: 5px;
    }

    &__control {
      width: 100%;
      padding: 10px;
      border: 0.5px solid #000;
    }

    input {
      outline:none;
      &::placeholder {
        color: #000;
      }

      &:focus {
        border-color: $secondary-color;
        &::placeholder {
          color: transparent;
        }
      }
    }

    textarea {
      outline:none;
      &::placeholder {
        color: #000;
      }
      
      &:focus {
        border-color: $secondary-color;
        &::placeholder {
          color: transparent;
        }
      }
    }

    &__btn {
      background-color: $secondary-color;
      border: none;
      color: #fff;
      padding: 15px 35px;
      border-radius: 3px;
      border-bottom: 3px solid $secondary-darker-color;
      cursor: pointer;
      transition: 1s;
      outline:none;

      &:hover {
        background-color: $secondary-darker-color;
      }
    }
  }

  &-info {
    text-align: left;
    width: 50%;

    &__text {
      color: $primary-color;
      margin-bottom: 50px;
    }

    &__details {
      font-weight: 700;
      margin-bottom: 50px;
    }

    &__social {
      color: #000;
      padding: 10px 16px;
      border: 0.5px solid #000;
      border-radius: 50%;
      transition: .5s;
      margin-right: 10px;
      
      &:nth-child(2) {
        padding: 10px 17px;
      }

      &:nth-child(3) {
        padding: 10px 15px;
        
      }

      &:hover {
        background-color:  $secondary-color;
        border-color:  $secondary-color;
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 5px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    flex-direction: column;
  }

  .contact {
    &-form {
      margin: 10px auto;
    }
    &-info {
      margin: 10px auto;
    }
  }
}
