@import '../../Styles/var';

$background-color: #ffffff;

.header {
  padding: 7rem 0;
  background-color: $background-color;
  clear: both;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.content {
  margin: auto;
  width: 1130px;

  &__item {
    display: inline-block;
  }
}

.logo {
  float: left;
}

.menu {
  float: right;
  width: 60%;
  font: $primary-font;
  text-transform: uppercase;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    color: $primary-color;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-0.5rem);
    }
  }
}

.active {
  color: $secondary-color;
}

@media screen and (max-width: 1200px) {
  .content {
    max-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .menu__items {
    justify-content: flex-start;
  }

  .menu__item {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }

  .menu {
    display: block;
    width: auto;
    float: none;

    &__items {
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 600px) {
  .menu__item {
    margin: 1rem 0;
    display: block;
    width: 100%;
    text-align: center;

    &:hover {
      transform: none;
    }
  }
}

