@import '../../Styles/var';

.features {
  display: flex;
  justify-content: center;
  padding: 160px 0 200px;

  &__container {
    width: 80%;
    min-width: 320px;
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1360px) {
    &__container {
      flex-wrap: wrap;
    }
  }
}