@import '../../Styles/var';

.our-skills {
  padding: 3.5rem 2rem;
  text-align: center;

  &__levels {
    margin: 21.5rem auto 0;
    max-width: 95rem;

    @media screen and (max-width: 820px) {
      margin: 10rem auto;
    }
  }

  &__item {
    margin-right: 10rem;
    margin-bottom: 55px;
    float: left;
    width: 42%;
    text-align: left;

    @media screen and (max-width: 820px) {
      width: 100%;
      float: none;
    }
  }

  &__item:nth-child(2n) {
    margin-right: 0;
    float: right;
    @media screen and (max-width: 820px) {
      float: none;
    }
  }

  &__item-title {
    display: flex;
    justify-content: space-between;
    font: $text-font;
    letter-spacing: 0.2rem;
  }

  &__skill {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  &__value {
    color: $text-color;
  }

  &__progress-bar {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: $secondary-color;
  }

  &__progress-bar::-webkit-progress-bar {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: $bar-color;
  }

  &__progress-bar::-webkit-progress-value {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: $secondary-color;
  }

  &__progress-bar::-moz-progress-bar {
    display: block;
    width: 100%;
    height: 2rem;
    background-color: $bar-color;
  }
}